
:root {
  font-size: 62.5%;
  
  /************ Custom Properties ***********/

  /* Main Color */
  --primary-color: #014d4e;

  /* Secondary Color */
  --secondary-color: #ff9408;

  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;

  /* tertiary color */
  --tertiary-color: #017374;

  /* tertiary color modified */
  --tertiary-color-m: #01727498;


    /* tertiary color modified */
  --quaternary-color: #fff;


   /* Transition  */
  --transition: color 0.35s cubic-bezier(0.68,-0.55,0.265,1.55);


     /* transition  */
  --transition: all 0.4s ease-in-out;




  /* Transition Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;
}



//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Font Weights *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$font-weights: (
  "font-weight-thin": 100,
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
  "font-weight-black": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Font Sizes *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$font-sizes: (
  "font-size-small": calc(1.2rem + 0.5vw),
  "font-size-regular": calc(1.5rem + 1vw),
  "font-size-medium": calc(1.5rem + 2vw),
  "font-size-large": calc(1.5rem + 5vw),
  "font-size-xlarge": calc(2.5rem + 5vw),
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 800px,
  "break-point-desktop": 1920px,
);

@function break-point($break-point-limit) {
  @return map-get($break-points, $break-point-limit);
}

