body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;

  display: flex;
}
/* List Items */
li {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Anchor Tags */
a:link,
a:visited {
    text-decoration: none;
  color: var(--quaternary-color);
  font-size: font-size(font-size-regular);
}
